<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Laurens Stieners. It uses data from mapbox and weather forecast.</p>
            <img class="portrait" src='/img/img.png'>
        </div>
        {{>footer}}
    </body>
</html>